# Telegram Bot Framework
aiogram==3.12.0

# API клиент
aiohttp==3.9.5

# Кэширование
redis==5.0.7

# Конфигурация
python-dotenv==1.0.1

# Дата/время
python-dateutil==2.9.0.post0  # опционально для удобной работы с датами

# Логирование (обычно встроено, но можно добавить)
# colorlog==6.8.2  # опционально для цветного логирования
numpy==1.26.4
google-generativeai==0.3.2